<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Europea Library - Password reset request</title>
</head>
<body style="font-size: 1.3em;">
<p style="margin-top: 10px;">Hello <b>${passwordResetEmailRequest.username}</b>,</p>
<p>Recently you made a password reset request. Please click <em><a
        href="${passwordResetEmailRequest.redirectTo}">here</a></em> in order to reset your
    password or copy the following link in your browser: <a href="${passwordResetEmailRequest.redirectTo}">${passwordResetEmailRequest.redirectTo}</a>
</p>
<br/>
<p>Have a nice day!</p>
</body>
</html>